<div class="image">
    <picture>
      <source srcSet="/assets/img/sbb_happy_bike_people.avif" type="image/avif" />
      <img
        src="/assets/img/sbb_happy_bike_people.jpg"
        alt="Happy people getting on a train with their bikes :)"
      />
    </picture>
</div>

<div class="container">
    <div class="title">
        <h1>
            When would you like to go biking?
            <sbb-icon svgIcon="kom:bicycle-medium"></sbb-icon>
        </h1>
    </div>
    <div class="main"> 
        <app-description></app-description>
        <app-request></app-request>
        <app-answer></app-answer>
    </div>
</div>
