
    <picture class="image">
      <source srcSet="/assets/img/sbb_happy_bike_people.avif" type="image/avif" />
      <img
        src="/assets/img/sbb_happy_bike_people.jpg"
        alt="Happy people getting on a train with their bikes :)"
      />
    </picture>

<div class="container">
    <div class="title">
        <h1>
            Sick of booking multiple travels just to be sure to find a place for your beloved bike?<sbb-icon svgIcon="kom:bicycle-large" class="bike"></sbb-icon>
        </h1>
        <p style="font-size: 20px; font-family: 'SBBWeb Thin'; margin-top: -4vh; margin-bottom: 3vh;">
            This tool is just for you! Simply gives us the details of your trip, and our <i>sophisticated algorithm</i> will tell you how much in advance you'll have to book it, so you can take your time to make plans.
        </p>
    </div>
    <div class="main"> 
        <app-request-answer-component>
        </app-request-answer-component>
    </div>
</div>
