<div class="header hideOnMobile">
  <span class="name">Connections</span>
  <span class="duration">Duration</span>
  <span class="change">Nr. changes</span>
  <span class="occupancy">Occupancy</span>
  <span class="book">Book It!</span>
</div>
<sbb-accordion>
  <sbb-expansion-panel *ngFor="let connection of connections" hideToggle class="accordion">
    <sbb-expansion-panel-header class="connection">
      <div class="connection-header-content">
        <div class="name">
          <!-- <sbb-icon svgIcon="{{ connection.icon }}"> </sbb-icon> -->
          <span *ngFor="let s of connection.connection.sections">{{ s.departure.station.name }}<sbb-icon
              svgIcon="kom:chevron-small-right-small" class="arrow-next-stop"></sbb-icon></span>
          <span>{{connection.connection.sections[connection.connection.sections.length - 1].arrival.station.name}}</span>
        </div>
        <div class="duration">{{connection.connection.duration.substring(3, 8)}}</div>
        <div class="changes hideOnMobile">{{ connection.connection.products.length}}</div>
        <div class="occupancy">
          <sbb-icon *ngIf="connection.connection.capacity2nd"
            svgIcon="fpl:utilization-{{ occupancy[connection.connection.capacity2nd] }}"></sbb-icon>
        </div>

        <div class="action"><button sbb-button>
            <sbb-icon svgIcon="kom:bicycle-large" class="button"></sbb-icon>
          </button></div>
        <div class="time">{{ connection.connection.sections[0].departure.departure.departure }}</div>
      </div>
    </sbb-expansion-panel-header>

    
    <!-- <sbb-table-wrapper>
      <table sbb-table [dataSource]="{{ tabulate() }}">
        <sbb-text-column name="columnOne"></sbb-text-column>
        <sbb-text-column name="columnTwo"></sbb-text-column>
        <sbb-text-column name="columnThree"></sbb-text-column>
        <sbb-text-column name="columnFour"></sbb-text-column>
        <sbb-text-column name="columnFive"></sbb-text-column>
        <tr sbb-header-row *sbbHeaderRowDef="displayedColumns"></tr>
        <tr sbb-row *sbbRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </sbb-table-wrapper>-->
  </sbb-expansion-panel> 
</sbb-accordion>
