
sbb-form-field, input {
    display: flex;
}

sbb-form-field {
    width: auto !important;
    margin-right: 20px;
}


:host .date-time-container, .submit-container, .form-container, .from-to-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

:host .form-container {
    display: flex;
    flex-direction: column;
}

:host .time-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

:host .ret {
     display: none;
}

@media screen and (max-width: 768px) {
    :host .from-to-container {
        flex-wrap: wrap;
    }

    :host .date-time-container {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) {
    :host .submit {
        transform: translateY(31px);
    }
}