:host .date input {
    max-width: 100%;
}

:host .from-to-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 70%;
    max-width: 80%;
}

:host .date-time-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

:host .time-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 62%;
}

@media screen and (max-width: 768px) {
    :host .from-to-container {
        flex-wrap: wrap;
    }

    :host .date-time-container {
        flex-wrap: wrap;
    }
}

:host .submit-container {
    display: flex;
    flex-wrap: nowrap;
}

:host .form-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "left right"
        "left2 right2"
        "submit submit";
}