:host .dep {
    grid-area: dep;
}

:host .ret {
    grid-area: ret;
}

:host .date {
    grid-area: date;
}

:host .submit {
    grid-area: submit;
}

:host .form-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "date date"
        "dep ret"
        "submit submit"
}


@media only screen and (min-width: 600px) {
    :host .form-container {
        display: grid;
        grid-template-columns: 60% 20% 20%;
        grid-template-rows: auto;
        grid-template-areas: 
            "date dep ret"
            "submit submit submit"
    }
}
