<form class ="sbb-form-group form-container">
	<div class="from-to-container">
		<sbb-form-field label="From" style="grid-area:left;">
			<input sbbInput sbbInput [formControl]="from" [sbbAutocomplete]="auto"/>
		</sbb-form-field>
		<sbb-form-field label="To" style="grid-area:right;">
			<input sbbInput sbbInput [formControl]="to" [sbbAutocomplete]="auto"/>
		</sbb-form-field>
	</div>
		<sbb-autocomplete #auto="sbbAutocomplete">
			<sbb-option *ngFor="let option of options" [value]="option">{{ option }}</sbb-option>
		</sbb-autocomplete>
	<div class="date-time-container">
		<div>
			<sbb-form-field label="Date">
				<sbb-datepicker arrows>
				<input sbbInput sbbDateInput [formControl]="date" [min]="minDate"/>
				</sbb-datepicker>
			</sbb-form-field>
		</div>
		<div class="time-container">
			<sbb-form-field label="Departure" class="dep">
				<input sbbInput sbbTimeInput [formControl]="dep" />
			</sbb-form-field>
			<sbb-form-field label="Return" class="ret">
				<input sbbInput sbbTimeInput [formControl]="ret" />
			</sbb-form-field>
		</div>
	</div>
	<sbb-error *ngIf="dep_time.invalid">Invalid departure time.</sbb-error>
	<sbb-error *ngIf="ret_time.invalid">Invalid return time.</sbb-error>
	<sbb-error *ngIf="dep_datetime.past">Departure time is in the past.</sbb-error>
	<sbb-error *ngIf="ret_datetime.past">Return must be after departure.</sbb-error>
	<!-- <sbb-error *ngIf="datetime_past">Time is in the past.</sbb-error> -->
	<button sbb-button (click)="submit()" class="submit" style="max-width:100% !important;margin-top: -1vh;">Submit</button>
</form>
